OLLAMA_HOST=http://127.0.0.1:<port>
OLLAMA_MODEL=<model-tag>
OLLAMA_DIGEST=<digest>
STASH_INBOX=<inbox>
DRIVE_ACCOUNT=<account>
DRIVE_FOLDER_ID=<folder-id>
GH_APP_ID=<app-id>
GH_INSTALLATION_ID=<installation-id>
DATA_GIT=<data-git>
CHECKOUT=<checkout>
NODE=<node>
STASH_ENV_PATH=<config-path>
CRED_DIR=<cred-dir>
CRED_GH=<credential-id>
CRED_GMAIL=<credential-id>
CRED_DRIVE=<credential-id>
DRIVE_UPLOADER=<uploader>
G_EGRESS_DECISION=
BLACKOUT_WINDOWS=<windows>
ONCALENDAR_WATCH=<calendar>
ONCALENDAR_WATCH_2=<calendar>
ONCALENDAR_WATCH_PROMOTE=<calendar>
ONCALENDAR_WATCH_PROMOTE_2=<calendar>
ONCALENDAR_WATCH_PROMOTE_3=<calendar>
ONCALENDAR_PREPPINGDEALS=<calendar>
ONCALENDAR_PREPPINGDEALS_2=<calendar>
ONCALENDAR_AIM=<calendar>
ONCALENDAR_AIM_2=<calendar>
ONCALENDAR_EXPIRY=<calendar>
ONCALENDAR_EXPIRY_2=<calendar>
SELF_CHECK_DENYLIST=<denylist>
